@import"../../utils/colors";


.categories-categories{
  margin-top: 30px;
  margin-bottom: 50px;
  

  .icon-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px; /* Kích thước vòng tròn */
    height: 80px;
    border: 4px solid $white; /* Viền xám, giống hình ảnh */
    border-radius: 50%; /* Tạo hình tròn */
    background-color: $text; /* Nền đen bên trong */
    overflow: hidden; /* Đảm bảo icon không vượt ra ngoài */

    // .custom-icon {
    //   font-size: 40px; /* Kích thước icon */
    //   color: $white; /* Màu trắng cho icon */
    //   margin: 0; /* Loại bỏ margin mặc định */
    //   padding: 0; /* Loại bỏ padding mặc định */

    svg { // Tùy chỉnh icon từ react-icons
      font-size: 20px;
      padding: 5px;
      color: $white;

      &:hover {
            color: $hover-bg;
            transition: all 0.3s ease ;
            transform: translateY(-5px);
          }
      }
  }

  .category-name{
    font-size: 20px;
    font-weight: 700;
  }
  
  .menu-content, .item-category {
    display: flex;
    flex-direction: column; /* Xếp các phần tử theo cột (dọc) */
    align-items: center; /* Căn giữa theo chiều ngang */
    text-align: center; /* Căn giữa nội dung văn bản */
    gap: 10px; /* Khoảng cách giữa icon và tên */
    color: $black;

    &:hover {
      color: $hover-bg;
      transition: all 0.3s ease ;
      transform: translateY(-5px);
    }
    svg { // Tùy chỉnh icon từ react-icons
      font-size: 50px;
    }
    p {
      font-size: 16px;
    }
  }

}