
@import"../../utils/colors";

.service-container {
  margin-bottom: 60px;
  
  .service-card {
    display: flex;
    flex-direction: column; /* Sắp xếp theo chiều dọc */
    align-items: center; /* Căn giữa theo chiều ngang */
    height: 100%; /* Đảm bảo thẻ có chiều cao đầy đủ */
  }

  .icon-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px; /* Kích thước vòng tròn */
    height: 80px;
    border: 4px solid $white; /* Viền xám, giống hình ảnh */
    border-radius: 50%; /* Tạo hình tròn */
    background-color: $button; /* Nền đen bên trong */
    overflow: hidden; /* Đảm bảo icon không vượt ra ngoài */

    .custom-icon {
      font-size: 40px; /* Kích thước icon */
      color: $white; /* Màu trắng cho icon */
      margin: 0; /* Loại bỏ margin mặc định */
      padding: 0; /* Loại bỏ padding mặc định */

      &:hover {
        color: $hover-bg;
        transition: all 0.3s ease ;
        transform: translateY(-5px);
      }
      svg { // Tùy chỉnh icon từ react-icons
        font-size: 30px;
      }
    }
  }

  h2 {
    margin-bottom: 10px;
  }
}