@import"../../utils/colors";

.count-down-container {
  margin-bottom: 10px;

  .countdown-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .label-icon {
      font-size: 40px;
      color: $button;
      margin-right: 20px;
    }
  }

  .countdown-content {
    display: flex;
    align-items: center;
    animation: blink 1.25s infinite;

    .title {
      font-size: 20px;
      color: $text;
      margin-right: 100px;
      font-weight: bold;
      font-size: 30px;
    }

    .clock-labels {
      display: flex;
      gap: 26px;
      margin-top: 8px;
      font-weight: 600;

      span {
        font-size: 10px;
        color: $button;
        text-transform: uppercase;
      }
    }

    .clock {
      display: flex;
      align-items: center;
      gap: 8px;

      .value {
        font-size: 24px;
        font-weight: bold;
        color: $text; // Màu đỏ cho số đếm ngược
        background:$white;
        padding: 4px 8px;
        border-radius: 4px;
        min-width: 40px;
        text-align: center;
      }
    }
  }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

// Responsive
@media (max-width: 480px) {
  .countdown-container {
    max-width: 100%;
    padding: 12px;
  }

  .countdown-value {
    font-size: 18px;
    min-width: 30px;
    padding: 2px 4px;
  }

  .countdown-separator {
    font-size: 18px;
  }

  .countdown-title {
    font-size: 20px;
  }
}