$text: #373434;
$text-line-through: #999;
$text-footer: rgb(199, 191, 191);
$black: #2a2424;
$white: #F5F5F5;
$bg: #f5f5fa;
$hover-bg: #7492ae;
$card-product: #FDFDFD;
$ribbon-card: #DB4444;
$button: #7D8184;
$box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;