@import "../../../utils/colors";


.dashboard {
  background: $white;
  

  .ant-card {
    border-radius: 8px;
    box-shadow: $box-shadow;
  }

  .row-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;

    .profit-expenses {
      width: 100%;
      height: 100%;
    }

    .traffic-distribution {
      .traffic-total {
        text-align: center;
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;
      }
    }
    
    .product-sales {
      width: 100%;
      height: 100%;

      .sales-total {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;
    
        span {
          color: #52c41a;
          font-size: 14px;
        }
      }
    }
    
  }
  
  .row-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;

    .upcoming-schedules {
      width: 100%;
      height: 100%;      
      .schedule-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .time {
          font-weight: bold;
          color: $ribbon-card;
        }
    
        .description {
          flex: 1;
          margin-left: 10px;
        }
        .amount {
          color: $button;
        }
      }
      
      .loading-container {
        padding: 20px;
        text-align: center;
        color: $ribbon-card;
      }
      
      .error-container {
        padding: 20px;
        text-align: center;
        color: $ribbon-card;
      }
    }

    .priority {
      padding: 4px 10px;
      border-radius: 4px;
      color: $white;
  
      &.low {
        background: #68b640;
      }
      &.medium {
        background: #dea32f;
      }
      &.high {
        background: #d4363e;
      }
      &.critical {
        background: #7492ae;
      }
    }
  }
}